.filter-ctn {
    height: 100%;
    .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .haeder {
            h1 {
                font-size: 1rem;
                font-weight: bolder;
            }
        }
        .category {
            display: flex;
            gap: 1rem;
            justify-content: center;
            text-align: center;
            .content {
                border: 1px solid rgb(207, 207, 207);
                padding: 5px;
                width: 100px;
                border-radius: 20px;
                h1 {
                    font-size: 1rem;
                    color: rgb(131, 129, 129);
                }
            }
        }
        .filter1 {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: end;
            margin: auto;
            gap: 0.5rem;
            width: 100%;
            margin-bottom: 20px;
            h1 {
                font-weight: normal;
                font-size: 1rem;
            }
            input {
                padding: 8px;
                width: 200px;
                border: 1px solid rgb(196, 194, 194);
            }
        }
    }
    @media only screen and (max-width: 500px) {
        .filter {
            flex-wrap: wrap;
            .category {
                .content{
                    width: 50px;
                }
            }
            .filter1{
                margin-top: 5%;
                justify-content:center;
                padding-bottom: 50px;
                input {
                    padding: 10px;
                    width: 200px;
                    border: 1px solid rgb(196, 194, 194);
                    border-radius: 5px;
                }
            }
        }

    }
}
