.home-ctn-4 {
    .container {
        display: flex;
        overflow-x: auto; /* เพิ่ม horizontal scroll */
        white-space: nowrap; /* ป้องกันการแยกบรรทัด */
        max-width: 100%; /* หรือกำหนดขนาดตามที่ต้องการ */
        margin-left: 3%;
        gap: 1rem;
    }
    .item {
        flex: 0 0 auto; /* ป้องกันไม่ให้ flex item ยืด */
        width: 110px; /* กำหนดขนาดให้ item */
        text-align: center;
        gap: 2rem;
        border: 1px solid rgb(179, 173, 173);
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
     
    }
    .active{
        border-bottom: 1px solid rgb(182, 43, 8);
        background-color: rgb(182, 43, 8);
        a{
            color: rgb(255, 255, 255);
            font-weight: bolder;
        }
    }
    a{
        font-size: 0.8rem;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .show-image{
        display: flex;
        padding-bottom: 50px;
        justify-content: space-around;
        button{
            background-color: white;
            border: 0px;
        }
        img{
            width: 320px;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
}
